{% load functions %}
{% load url from future %}
<script>
    $(document).ready(init('{{request.info.current_projectname}}'))
</script>
<ul class="contractors">
    {% for contractor_id, contractor_data in held_paylines.items %}
        <li>
            <span child="{{contractor_id}}_cycles">
                <div class="display_held_main expand">Payroll: {{contractor_data.contractor.payroll}} | Sales Code: {{contractor_data.contractor.sales_code}} | {{contractor_data.contractor.name}}</div>
                <div class="display_value">{{contractor_data.total|floatformat:2|dollarformat}}</div>
                <div class="display_gst">{{contractor_data.total_gst|floatformat:2|dollarformat}}</div>
                <div class="display_links ajax" type="Contractor" method="retrieve" contractor_id="{{contractor_id}}" feedback="{{contractor_id}}_retrieving">
                    Retrieve Contractor
                </div>
                <div class="display_links hide {{contractor_id}}_retrieving">
                    Retrieving<div class="feedback_loader"></div>
                </div>
                <div style="clear:left"></div>
            </span>
            <ul class="cycles hide {{contractor_id}}_cycles">
                {% for cycle_id, cycle_data in contractor_data.cycles.items %}
                    <li>
                        <span child="{{contractor_id}}_{{cycle_id}}_finance_codes">
                            <div class="display_held_main expand">{{cycle_data.cycle.cycle_date}}</div>
                            <div class="display_value">{{cycle_data.total|floatformat:2|dollarformat}}</div>
                            <div class="display_gst">{{cycle_data.total_gst|floatformat:2|dollarformat}}</div>
                            <div class="display_links ajax" type="Cycle" method="retrieve" cycle_id="{{cycle_id}}" contractor_id="{{contractor_id}}" feedback="{{contractor_id}}_{{cycle_id}}_retrieving">
                                Retrieve Cycle
                            </div>
                            <div class="display_links hide {{contractor_id}}_{{cycle_id}}_retrieving">
                                Retrieving<div class="feedback_loader"></div>
                            </div>
                            <div style="clear:left"></div>
                        </span>
                        <ul class="finance_codes hide {{contractor_id}}_{{cycle_id}}_finance_codes">
                            {% for finance_code_id, finance_code_data in cycle_data.finance_codes.items %}
                                <li>
                                    <span child="{{contractor_id}}_{{cycle_id}}_{{finance_code_id}}_paylines">
                                        <div class="display_held_main expand">{{finance_code_data.finance_code.description}}</div>
                                        <div class="display_value">{{finance_code_data.total|floatformat:2|dollarformat}}</div>
                                        <div class="display_gst">{{finance_code_data.total_gst|floatformat:2|dollarformat}}</div>
                                        <div class="display_links ajax" type="Finance Code" method="retrieve" finance_code_id="{{finance_code_id}}" cycle_id="{{cycle_id}}" contractor_id="{{contractor_id}}" feedback="{{contractor_id}}_{{cycle_id}}_{{finance_code_id}}_retrieving">
                                            Retrieve Finance Code
                                        </div>
                                        <div class="display_links hide {{contractor_id}}_{{cycle_id}}_{{finance_code_id}}_retrieving">
                                            Retrieving<div class="feedback_loader"></div>
                                        </div>
                                        <div style="clear:left"></div>
                                    </span>
                                    <ul class="paylines hide {{contractor_id}}_{{cycle_id}}_{{finance_code_id}}_paylines">
                                        {% for payline in finance_code_data.paylines %}
                                            <li>
                                                <span>
                                                    <div class="display_held_main">{{payline.details}}</div>
                                                    <div class="display_value">{{payline.value|floatformat:2|dollarformat}}</div>
                                                    <div class="display_gst">{{payline.gst_value|floatformat:2|dollarformat}}</div>
                                                    <div class="display_links ajax" type="Payline" method="retrieve" payline_id="{{payline.id}}" feedback="{{payline.id}}_retrieving">Retrieve Payline</div>
                                                    <div class="display_links hide {{payline.id}}_retrieving">
                                                        Retrieving<div class="feedback_loader"></div>
                                                    </div>
                                                    <div style="clear:left"></div>
                                                </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
